body {
    padding-top: 5rem;

}
.image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 20rem;
    grid-gap: 5%;
}

.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
ul {

 	list-style-type:none;
 }
.pen {
	margin-bottom: 7em;
 }